@using amigos_dev.Domain.ViewModels;

@model IEnumerable<FriendViewModel>

@{
    ViewData["Title"] = "Amigos";
}

<h1>Amigos</h1>
<p>Selecione os amigos:</p>
<form asp-controller="Friend" asp-action="SelectFriend" method="post">
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>Nome</th>
                <th>Data de Aniversário</th>
                <th>Tipo de Amigo</th>
                <th>Opções</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var friend in Model)
            {
                <tr>
                    <td>
                        <input type="checkbox" name="selected" value="@friend.Id" checked="@friend.Selected" />
                    </td>
                    <td>@friend.Name</td>
                    <td>@friend.Birthday</td>
                    <td>@friend.FriendType</td>
                    <td>
                        <a asp-controller="Friend" asp-action="Edit" asp-route-id="@friend.Id">Editar</a> |
                        <a asp-controller="Friend" asp-action="Delete" asp-route-id="@friend.Id">Deletar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <button type="submit" class="btn btn-primary">Persistir Seleção</button>
</form>